body { 
    background: #FFFFFF;
}

h1, h2, h3, h4, h5 { 
    font-family: sans-serif; 
}

hr {
  clear: right;
}

p,ul,ol,li,div,td,th,address,nobr,b,i { font-size:12pt; }

body p {
  margin-left: 15px;
  max-width: 50em;
  overflow: auto;
}

.replaceable { color: #009000; }

span.term {
    font-weight: bold;
    padding-left: 30px;
}

div.sidebar { 
    background: #F0E0E0; 
    border: 1px solid gray; 
    padding: 5px; 
    margin: 20px;
}

div.toc { 
    background: #FCFCFC; 
    border: 1px solid darkgreen;
    padding: 5px;
    margin: 30px 50px;
    max-width: 40em;
}


/* Title of TOC */
div.toc p {
  margin: 10px 0px 10px 10px;
}

/* Section entries within TOC */
div.toc span.section {
  margin-left: 0px;
}

/* background image for outdated chapters and sections */
div.draft {
    background-image: url(bg-outdated.svg);
}

code.literal, pre.programlisting, pre.screen {
    font-size: 85%;
    font-family: monospace;
    overflow: auto;
}

pre.programlisting, pre.screen {
    white-space: pre;
    max-width: 60em;
    margin-right: 15px;
    padding: 5px 15px 5px 15px; 
}

pre.programlisting { 
    background: #FFFFF8;
    border: 1px solid #8fbc8f;
}

pre.screen { 
    background: #FDFFFD;
    border: 1px solid #8fbc8f; 
}


span.lineannotation {
    font-family: serif;
    white-space: normal;
    font-size: 8pt;
}

.inlineeq { 
    background: #E0E0F0; 
    font-weight: bold;
}

.inlineequation { 
    background: #E0E0F0; 
    font-weight: bold;
}

div.equation { 
    background: #E0E0F0; 
    border: 1px solid gray; 
    padding: 10px;
    padding-left: 30px;
    font-weight: bold;
}

div.informalequation { 
  background: #E0E0F0; 
  border: 1px solid gray; 
  padding: 2px;
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

div.informalequation p,td {
  margin: 0px;
 }

div.example { 
    background: #FAFAFA; 
    border: 1px solid #040;
    margin: 5px 5px 5px 1em;
    padding: 0.2em 0.2em 0.2em 0.5em;
    max-width: 45em;
    font-size: 10pt;
}

div.example p {
    margin-left: 0px;
}

div.example p.title { 
    border: none; 
    padding: 5px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 14pt;
    max-width: 30em;
}

div.informalexample { 
    background: #FCFCFC; 
    border: 1px solid lightgrey; 
    padding: 10px;
    margin: 20px 10px 10px 1.8em;
    max-width: 45em;
}


div.informalexample p.title{ 
    border: none; 
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 14pt;
}

div.informalexamplebody p {
    font-size: 11pt;
    margin: 0px;
}


/**
 *  Format the various admonitions: note
 *  tip, warning, causion, important.
 *
 *  NB it would be nice to use the original SVG images;
 *  however, browser support for CSS SVG is poor; for
 *  example, Firefox is scheduled to get this with
 *  Firefox v4.0 
 */

/* Properties common to all admonitions */
div.note, div.tip, div.warning, div.caution, div.important {
    font-size: 10pt;
    max-width: 45em;
    margin: 20px 10px 10px 1.8em;
    padding: 0px 10px 0px 120px;
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    clear: right;
    overflow: auto;
}

div.note p, div.tip p, div.warning p, div.caution p, div.important p {
    font-size: 10pt;
    margin-left: 0px;
}

/* tip and note have some common properies */
div.tip, div.note {
    background-color: #f9fff9;
    border-color: #80c080;
}

/* Likewise, warning and caution have some common properties */
div.warning, div.caution {
    background-color: #ffe4e1;
    border-color: #ff8080;
}

/* Admonition-specific properties */
div.tip {
    background-image: url(tip.png);
    background-position: 15px 2px;
    min-height: 115px;
}
div.note {
    background-image: url(note.png);
    background-position: 0px 15px;
    min-height: 50px;
}
div.important {
    background-image: url(important.png);
    background-position: 25px 13px;
    background-color: #fff8dc;
    border-color: #c0b090;
    min-height: 100px;
}
div.warning {
    background-image: url(warning.png);
    background-position: 10px 15px;
    min-height: 100px;
}
div.caution {
    background-image: url(caution.png);
    background-position: 10px 15px;
    min-height: 100px;
}


/**
 *  Make content within the site-navigation behave as
 *  expected.
 */
table.site-nav a:link, table.site-nav a:visited, table.site-nav a:hover {
    color: #FF874B;
}

table.site-nav a:hover {
    text-decoration: underline;
}




/**
 *  Navigational elements
 */

/* Common across all nav. elements */
p.returntotop, p.returntotop a, div.navheader th, div.navheader a,
  div.navfooter td, div.navfooter a, div.breadcrumbs a, div.breadcrumbs {
    font-family: sans-serif; 
    font-size: 8pt;
}

/* Common across all nav. links */
p.returntotop, p.returntotop a, div.navheader a, div.navfooter a,
  div.breadcrumbs a, div.breadcrumbs {
    color: #909090;
    text-decoration: none;
}

span.breadcrumb-node {
  font-weight: bold;
}



/* Common style when hovering over a nav. link */
p.returntotop a:hover, div.navheader a:hover, div.navfooter a:hover,
  div.breadcrumbs a:hover {
  text-decoration: underline;
}


h3.author {
  font-size: 10pt;
  margin: 8px 10px 2px 0ex;
}

div.affiliation {
  font-size: 8pt;
  margin: 0ex 5px 0px 1ex;
}

div.glosslist dt { 
    font-weight: bold;
    color: #FF874B;
}

.command { 
    font-weight: bold;
    color: #900000;
}

.cellattributes table { 
  background: #FFFFFF;
  border: 0;
 }

.cellattributes td { 
  background: #EEEEEE;
  border: 0;
 }

.cellattributes th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptions table { 
  background: #FFFFFF;
  border: 0;
 }

.celloptions td { 
  background: #EEEEEE;
  border: 0;
 }

.celloptions th { 
  background: #DDDDDD;
  border: 0;
 }

.celloptreq td{ 
  background: #EEAAAA;
 }

.table .title { 
  padding-bottom: 0px;
  margin-bottom:0px;
 }

.table table { 
  background: #FFFFFF;
  border: solid 1px #888888;
  padding-top: 0px;
 }

.table td { 
  background: #EEEEEE;
  border: 0;
 }

.table th { 
  background: #DDDDDD;
  border: 0;
 }

code.filename { 
  font-weight: bold;
 }

.firstline td{ 
  background: #EEAAAA;
 }
