<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE part PUBLIC "-//OASIS//DTD DocBook XML V4.3//EN" "http://www.oasis-open.org/docbook/xml/4.3/docbookx.dtd">     

<part id="cf"> <!--  xmlns:xi="http://www.w3.org/2001/XInclude" -->
  <!-- <?dbhtml dir="config" ?> -->
  <title>Configuration of <productname>dCache</productname></title>
  
  <partintro>
    <para>
      This part contains descriptions of the components of dCache,
      their role, functionality within the framework. In short, all
      information necessary for configuring them.
    </para>
  </partintro>

  <xi:include href="config-pnfs.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-cellpackage.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>
  
  <xi:include href="config-ReplicaManager.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>
  
  <xi:include href="config-PoolManager.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-hsm.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-hopping.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-partitioning.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-central-flushing.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

  <xi:include href="config-gplazma.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>
  
  <xi:include href="config-xrootd.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>
  <xi:include href="config-SRM.xml" xmlns:xi="http://www.w3.org/2001/XInclude"/>

</part>

